.medical-form {
  margin-left: 3rem;
  margin-right: 3rem;
  .header {
    text-align: center;
    font-weight: 600;
    font-size: large;
  }

  .form-top {
    display: flex;
    justify-content: space-between;
  }

  .form-top-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
